@import 'base/reset';
// @import 'base/fonts';
@import 'base/mixins';
@import 'base/variables';

body{
    background-color: $bodybg;
    #mycontainer {
        padding: 20px 0px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        #search{
            background-color: white;
            width: 50%;
            height: 700px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            h1{
                font-family: sans-serif;
                font-size: 25px;
                font-weight: bold;
                margin-top: 20px;
               // width: 100%;
            }
            form{
                width: 90%;
                background-color: red;
                display: flex;
                justify-content: center;
                margin-top: 10px;
                height: 40px;
              //  width: 100%;
                #searchField{
                    width: 80%;
                }
                #button{
                    width: 20%;
                }
            }
            #resultHolder{
                display: none;
                border: 1px solid;
                width: 90%;
                height: 400px;
                .article{
                    height: 40px;
                    line-height: 20px;
                    background-color: red;
                    border-bottom: 1px solid;
                   &.last-child{
                    border-bottom: none;

                   }
                }
            }
        }
        #saveHolder{
            background-color: rgb(180, 34, 34);
            width: 50%;
            height: 700px;
        }
      }
}
  