@import 'base/reset';
@import 'base/fonts';
@import 'base/mixins';
@import 'base/variables';

body{
    background-color: $bodybg;
    h1, h2{
        font-family: Lato;
        font-size: 25px;
        font-weight: 900;
       // margin-top: 20px;
    }
    h2{
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 25px;
    }
    #mycontainer {
        padding: 20px 0px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        #search{
            background-color:#eef3f6;
            width: 50%;
           //height: 700px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            form{
                width: 90%;
                display: flex;
                justify-content: center;
                margin: 20px auto;
                height: 40px;
                #searchField{
                    width: 80%;
                }
                #button{
                    width: 20%;
                }
            }
            #searchListHolder{
              display: none;
              //  border: 1px solid;
              width: 90%;
              margin-bottom: 20px;
                .article{
                    display: block;
                    height: 40px;
                    background-color:white;
                    border-radius: 5px;
                    box-shadow: 0 0 10px rgba(0,0,0,.05);
                    display: flex;
                  //  margin-top: 12px;
                    border-bottom: 1px solid;
                    padding-left: 12px; 
                    padding-right: 12px; 
                   // cursor: pointer;
                    transition: all .4s;
                     &:hover{
                         background-color: rgb(196, 196, 196);
                        // opacity: .5;
                         color: rgb(124, 24, 24);                      
                      }      
                    // h2{
                    //     font-size: 15px;
                    //     font-family: sans-serif;
                    //     line-height: 40px;
                    //     width: 91%;
                    //     // &:hover{
                    //     //     opacity: .7;
                    //     // }
                    // }
                    .heart{
                      display: block;
                      height: 40px;
                      min-width: 40px;
                      position: relative;
                      width: 40px;
                      border:none;
                     // outline: none;
                     // color: white;
                      cursor:pointer;
                      &::before {
                        @include pseudo($content:'\e801');
                        color:rgb(124, 24, 24);
                        font-family: $icons;
                        left: 50%;
                        top: 50%;
                        font-size: 20px;
                        margin-left: -10px;
                        margin-top: -10px;
                      } 
                    //   &:hover::before{
                    //     content: '\e800';
                    // }    
                    //  &.true::before {
                    //     content: '\e800';
                    //   }     
                    }
                    // .heart.true:after {
                    //     content: '\e800';
                    //   }
 
                    &.true .heart::before {
                        content: '\e800';
                      }
                }

                //  .article.true .heart::before {
                //      content: '\e800';
                //    }
                //   li.true span{
                //     text-decoration: line-through;
                //     opacity: .5;
                //   }                
            }
        }
        #save{
            background-color: rgb(180, 34, 34);
            width: 50%;
        // height: 700px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            #saveHolder{
               // display: none;
                //  border: 1px solid;
                width: 90%;
                margin-bottom: 20px;
                .savedArticle{
                   // display: block;
                    height: auto;
                    background-color:white;
                    border-radius: 5px;
                    box-shadow: 0 0 10px rgba(0,0,0,.05);
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 12px;
                    border-bottom: 1px solid;
                    padding: 12px; 
                   // padding-right: 12px; 
                    cursor: pointer;
                    transition: all .4s;
                    img{
                        width: 30%;
                    }
                    div{
                        width: 65%;
                        margin-left: 12px;
                        .showMore{
                            display: block;
                        }
                    }
                     &:hover{
                         background-color: rgb(196, 196, 196);
                        // opacity: .5;
                         color: rgb(124, 24, 24);                      
                      }      
                    .time{
                        font-size: 15px;
                        font-family: sans-serif;
                        line-height: 40px;
                        width: 91%;
                        // &:hover{
                        //     opacity: .7;
                        // }
                    }
                    .delete{
                      display: block;
                      height: 40px;
                      min-width: 40px;
                      position: relative;
                      width: 40px;
                      border:none;
                      margin-left: auto;
                     // outline: none;
                     // color: white;
                      cursor:pointer;
                      &::before {
                        @include pseudo($content:'\e802');
                        color:rgb(124, 24, 24);
                        font-family: $icons;
                        left: 50%;
                        top: 50%;
                        font-size: 20px;
                        margin-left: -10px;
                        margin-top: -10px;
                      }    
                    }
                    &.true .heart::before {
                        content: '\e802';
                      }
                }
            }
        }
    }

    //popups module CSS
    .popupS-layer{
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,.25);
        -moz-box-shadow: 0 0 20px rgba(0,0,0,.25);
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    position: relative;
    border-radius:6px;
    background-color: #FFF;
    margin:20px;
    z-index:1000;

    }
    .popupS-resetFocus {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .popupS-close{
        position: absolute;
        top: 0;
        right: 0;
        line-height: 40px;
        font-size: 32px;
        text-align: center;
        font-weight: 700;
        width: 32px;
        height: 40px;
        cursor: pointer;
        z-index:1020;
    }
    .popupS-title{
        position: absolute;
        width: 100%;
        line-height: 40px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 auto;
        z-index:1001;
        font-size: 22px;
    }
    .popupS-title + .popupS-content{
        padding-bottom:20px;
    }
    .popupS-content{
        max-width:700px;
        padding:40px;
        border-radius:6px;
        line-height: 25px;
    }
    .popupS-content img{
        max-width:100%;
        height:auto;
        width: 100%;
    }
    .popupS-layer .btn{
        float:right;
    }

    /*
    * Default Animation
    * very Important
    */

    .popupS-layer{
        -webkit-transition: opacity .3s;
        -o-transition: opacity .3s;
        transition: opacity .3s;
        opacity: 0;
    }
    .popupS-overlay{
        -webkit-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
        background:rgb(0,0,0);
        opacity: 0;
    }
    .popupS-layer.popupS-open{
        opacity: 1;
    }
    .popupS-open>.popupS-overlay{
        opacity:.6;
    }

    /* Loader */

    @-moz-keyframes spinner {
        to {-moz-transform: rotate(360deg);
            transform: rotate(360deg);}
    }
    @-o-keyframes spinner {
        to {-o-transform: rotate(360deg);
            transform: rotate(360deg);}
    }
    @-webkit-keyframes spinner {
        to {-webkit-transform: rotate(360deg);}
    }
    @keyframes spinner {
            to {transform: rotate(360deg);}
    }
    @-moz-keyframes pulsate {
        0% {
            -moz-transform:scale(.1);
            transform:scale(.1);
            opacity: 0.0;
        }
        50% {
            opacity:1;
        }
        100% {
            -moz-transform:scale(1.2);
            transform:scale(1.2);
            opacity:0;
        }
    }
    @-o-keyframes pulsate {
        0% {
            -o-transform:scale(.1);
            transform:scale(.1);
            opacity: 0.0;
        }
        50% {
            opacity:1;
        }
        100% {
            -o-transform:scale(1.2);
            transform:scale(1.2);
            opacity:0;
        }
    }
    @-webkit-keyframes pulsate {
        0% {
            transform:scale(.1);
            opacity: 0.0;
        }
        50% {
            opacity:1;
        }
        100% {
            transform:scale(1.2);
            opacity:0;
        }
    }
    @keyframes pulsate {
        0% {
            transform:scale(.1);
            opacity: 0.0;
        }
        50% {
            opacity:1;
        }
        100% {
            transform:scale(1.2);
            opacity:0;
        }
    }
    .popupS-loading{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        border-radius: 30px;
    }
    .popupS-loading.pulser{
        border: 3px solid #1caff6;
        opacity: 0;
            -moz-animation: pulsate 1s ease-out infinite;
            -o-animation: pulsate 1s ease-out infinite;
            -webkit-animation: pulsate 1s ease-out infinite;
        animation: pulsate 1s ease-out infinite;
    }
    .popupS-loading.spinner{
        border-top: 3px solid #1caff6;
        border-right: 3px solid transparent;
            -moz-animation: spinner .6s linear infinite;
            -o-animation: spinner .6s linear infinite;
            -webkit-animation: spinner .6s linear infinite;
        animation: spinner .6s linear infinite;
    }

}
  