@import 'base/reset';
@import 'base/fonts';
@import 'base/mixins';
@import 'base/variables';

body{
    background-color: $bodybg;
    h1, h2{
        font-family: Lato;
        font-size: 25px;
        font-weight: 900;
       // margin-top: 20px;
    }
    h2{
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 25px;
    }
    #mycontainer {
        padding: 20px 0px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        #search{
            background-color:#eef3f6;
            width: 50%;
           //height: 700px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            form{
                width: 90%;
                display: flex;
                justify-content: center;
                margin: 20px auto;
                height: 40px;
                #searchField{
                    width: 80%;
                }
                #button{
                    width: 20%;
                }
            }
            #searchListHolder{
              display: none;
              //  border: 1px solid;
              width: 90%;
              margin-bottom: 20px;
                .article{
                    display: block;
                    height: 40px;
                    background-color:white;
                    border-radius: 5px;
                    box-shadow: 0 0 10px rgba(0,0,0,.05);
                    display: flex;
                  //  margin-top: 12px;
                    border-bottom: 1px solid;
                    padding-left: 12px; 
                    padding-right: 12px; 
                   // cursor: pointer;
                    transition: all .4s;
                     &:hover{
                         background-color: rgb(196, 196, 196);
                        // opacity: .5;
                         color: rgb(124, 24, 24);                      
                      }      
                    // h2{
                    //     font-size: 15px;
                    //     font-family: sans-serif;
                    //     line-height: 40px;
                    //     width: 91%;
                    //     // &:hover{
                    //     //     opacity: .7;
                    //     // }
                    // }
                    .heart{
                      display: block;
                      height: 40px;
                      min-width: 40px;
                      position: relative;
                      width: 40px;
                      border:none;
                     // outline: none;
                     // color: white;
                      cursor:pointer;
                      &::before {
                        @include pseudo($content:'\e801');
                        color:rgb(124, 24, 24);
                        font-family: $icons;
                        left: 50%;
                        top: 50%;
                        font-size: 20px;
                        margin-left: -10px;
                        margin-top: -10px;
                      } 
                    //   &:hover::before{
                    //     content: '\e800';
                    // }    
                    //  &.true::before {
                    //     content: '\e800';
                    //   }     
                    }
                    // .heart.true:after {
                    //     content: '\e800';
                    //   }
 
                    &.true .heart::before {
                        content: '\e800';
                      }
                }

                //  .article.true .heart::before {
                //      content: '\e800';
                //    }
                //   li.true span{
                //     text-decoration: line-through;
                //     opacity: .5;
                //   }                
            }
        }
        #save{
            background-color: rgb(180, 34, 34);
            width: 50%;
        // height: 700px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            #saveHolder{
               // display: none;
                //  border: 1px solid;
                width: 90%;
                margin-bottom: 20px;
                .savedArticle{
                    display: block;
                    height: auto;
                    background-color:white;
                    border-radius: 5px;
                    box-shadow: 0 0 10px rgba(0,0,0,.05);
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 12px;
                    border-bottom: 1px solid;
                    padding: 12px; 
                   // padding-right: 12px; 
                   // cursor: pointer;
                    transition: all .4s;
                    img{
                        width: 30%;
                    }
                    div{
                        width: 65%;
                        margin-left: 12px;
                        a{
                            margin-left: auto;
                        }
                    }
                     &:hover{
                         background-color: rgb(196, 196, 196);
                        // opacity: .5;
                         color: rgb(124, 24, 24);                      
                      }      
                    span{
                        font-size: 15px;
                        font-family: sans-serif;
                        line-height: 40px;
                        width: 91%;
                        // &:hover{
                        //     opacity: .7;
                        // }
                    }
                    .delete{
                      display: block;
                      height: 40px;
                      min-width: 40px;
                      position: relative;
                      width: 40px;
                      border:none;
                     // outline: none;
                     // color: white;
                      cursor:pointer;
                      &::before {
                        @include pseudo($content:'\e802');
                        color:rgb(124, 24, 24);
                        font-family: $icons;
                        left: 50%;
                        top: 50%;
                        font-size: 20px;
                        margin-left: -10px;
                        margin-top: -10px;
                      }    
                    }
                    &.true .heart::before {
                        content: '\e802';
                      }
                }
            }
        }
    }
}
  